body{
    background-color: #fef9f8;
    color: #030e12;
    font-family: 'Coming Soon', cursive;
    font-size: 14px;
    letter-spacing: .5px;
  
}

#wrapper{   
    width: 100%;
    border-radius: 50%;  
    text-align: center;
}

button{
    width: 100px;
    background-color: #ef9273;
    font-size: 15px;
    border: 1px solid #e1f1ff;
    border-radius: 10%
}

button:hover {
    background-color: #e63946;
    color: aliceblue;
}

#submit{
    width: 70px;
    color: #2a9d8f;
    border: 1px solid black;
    border-radius: 10%;
}

#submit:hover{
    background-color: #2a9d8f;
    color: aliceblue;
}



